
<div class="span6 offset3 boxy text-center">
	
	<h1 class=h1-custom>Hi I'm Elise</h1>

	<br/>

	<h2>Welcome to my app!</h2>

	<br/>

	<h3 class=h3-custom>Click here to launch app</h3>

	<br/>
	<br/>
	
	<%= link_to 'Launch', pics_path, :class=> 'btn btn-warning btn-large' %>

</div>